<div class="container mt-3">
    <h3>Cadastro de Carros</h3>
    
    <form #formCar="ngForm">
         <div class="row mb-3">
            <label for="model" class="col-sm-2 col-form-label">Modelo:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="car.model" name="model" id="model" required>
            </div>
         </div>

         <div class="row mb-3">
            <label for="make" class="col-sm-2 col-form-label">Montadora:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="car.make" name="make" id="make" required>
            </div>
         </div>

         <div class="row mb-3">
             
                <label for="price" class="col-sm-2 col-form-label">Preço:</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" [(ngModel)]="car.price"  name="price" id="price" required>
                </div>
             
             
                <label for="year" class="col-sm-2 col-form-label">Ano:</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" [(ngModel)]="car.year"  name="year" id="year" required>
                </div>
             
         </div>

         <div class="row mt-3">
            <div>
                <button class="btn btn-primary btn-lg" [disabled]="formCar.invalid">Salvar</button>
            </div>
         </div>
    </form>
</div>