<div class="bg-light container p-2">
    <app-car [car]="car" (saveEmitter)="save()"></app-car>
    <div class="container mt-3">
        <table class="table table-light">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Modelo</th>
                    <th>Montadora</th>
                    <th>Preço</th>
                    <th>Ano</th>
                    <th class="text-end">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars">
                    <td>{{car.id}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.make}}</td>
                    <td>{{car.price}}</td>
                    <td>{{car.year}}</td>
                    <td class="text-end">
                        <button class="btn btn-success me-2">Alterar</button>
                        <button class="btn btn-danger">Remover</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>